.hello {
	margin-top: 5cm;
	margin-left: 15cm;
	padding: 0px;
}

.hello1 {
	font-size: 25px;
	margin-top: 1cm;
	margin-left: 10cm;
}

.text1 {
	font-size: 25px;
}

.equalColumns .columns {
	min-height: 200px;
}

.equalColumns .columns .sapMFlexItem {
	padding: 0.5rem;
}

.bold {
	font-weight: bold;
	font-size: 20px;
}

.boldheader {
	font-weight: bold;
	font-size: 25px;
}